<footer>
<div class="container">
        <div class="row">
          <div class="col-md-7">
            <h3 class="footer-title">Follow Us!</h3>


<!-- Added ng-controller="FooterController" in here, the controller previously was never being called without this! Also moved The Monkeys banner inside the class row for styling purposes but you can adjust this to your liking!  -->

<div class="container" ng-controller="FooterController">
  <h1>{{title}}</h1>

  <div class="row">
    <div class="col-md-4">
      <h1>Our Locations</h1>
      <select ng-model="map" ng-options="mapview.address for mapview in maps"></select>
    </div>
    <div class="col-md-4">
      <h3>{{map.address}}</h3>
      <make-map map="map"></make-map>
    </div>

      <div class="col-md-4">
            <div class="footer-banner">
              <h3 class="footer-title">The Monkeys</h3>
              <ul>
                <li>31 Dublin</li>
                <li>Co Dublin</li>
                <li>Ireland</li>
              </ul>
             </div> 
          </div> 
  </div>
</div>



          </div> <!-- /col-xs-7 -->
		
        
        </div> 
      </div> 
</footer>