 <section id="gigs" class="gigs-section section">
   <div class="container vertical-center">
    <div class="container">
        <h2 class="section-title text-center">Upcoming Gigs</h2>
        <div class="gigs-container">
          

            <div class="container vertical-center">
            <!-- set the ng-controller to GigsController to link the controller to the HTML -->
                <div class="main" ng-controller="GigsController">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-7">
                        <h1>{{ fiveDay.city_name }}</h1>
                        <h2> </h2>
                        <div class="forecast" ng-repeat="day in fiveDay.days">
                          <div class="day row">
                            <div class="weekday col-md-7">
                              <h4>{{ day.datetime | date }}</h4>
                          </div>

                          <div class="low col-md-5">
                              <h4>{{ day.low }};</h4>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </ul>
  </div>
</div>
<div class="gigs-contact text-center">
    <h4 class="title">Want to book a private gig?</h4>
    <p class="intro center-block">Sed et felis vitae odio lobortis imperdiet. Vivamus ex tellus, faucibus sed dui eu, mattis dictum leo. Suspendisse quis leo metus. Vivamus ut lacus nisi. Nulla facilisi</p>
    <a class="btn btn-ghost-primary scrollto" href="#contact">Get in touch now</a>
</div><!--//gigs-->
</div><!--//container-->
</section><!--//gigs-section-->
