<div class="container vertical-center">
    <section id="music" class="music-section section text-center">
        <div class="container">
            <h2 class="section-title">Music</h2>
            
            <div class="music-action">
                <a class="btn btn-ghost-primary" href="#">Music on iTunes</a>
            </div>

                </div><!--//row-->
            </div><!--//albums-block-->
            
        </div><!--//container-->
    </section><!--//music-section-->      
</div>